<!--Criar formulário para a obtenção de dados para armazenamento-->
<div class="container">
    <div class="col-md-12">
        <h3>{{ titleComp }}</h3>

        <div class="input-group">
            <span class="mt-1 mx-1 col-2">Nome do Funcionário</span>
            <input type="text" [(ngModel)] = "FuncionarioAtualizarDado.nome_Funcionario" placeholder="Informe o nome do funcionário" class="form-control"/>
        </div>

        <div class="input-group">
            <span class="mt-1 mx-1 col-2">Departamento</span>
            <select class="form-select" type="text" [(ngModel)] = "FuncionarioAtualizarDado.nome_Depart">
                <!--option selected></option-->
                <option *ngFor = "let itens of listaDepartamento" value="{{itens.nome_Departamento}}">{{itens.nome_Departamento}}</option>
            </select>
        </div>

        <div class="input-group">
            <span class="mt-1 mx-1 col-2">Data da contração</span>
            <input type="date" [(ngModel)] = "FuncionarioAtualizarDado.dia_Contratacao" placeholder="Informe a data de contratação do funcionário" class="form-control"/>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-large btn-block" (click) = "AtualizarFuncionarioRegistro()">Salvar Registro</button>
        </div>
    </div>
</div>