<!--Definição da navbar-->


<div>
  <h1 class="text-center">Projeto Employee Management</h1>
  <h3 class="text-center">Portal de gerenciamento de conteúdo</h3>
</div>

<div class="container">
  <nav class="navbar bg-light">
    <form class="container-fluid justify-content-start">
      <button class="btn btn-sm btn-outline-primary me-2" type="button" routerLink = "/pegar-todos-depart">Departamentos</button>
      <button class="btn btn-sm btn-outline-primary" type="button" routerLink = "/pegar-todos-func">Funcionários</button>
    </form>
  </nav>
</div>

<router-outlet></router-outlet>
