<!--Definição da navbar-->

<nav class="navbar navbar-expand-lg bg-body-tertiary" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{ titleComp }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/pegar-todos-func">Lista de Funcionários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/inserir-func">Criar um Registro de Funcionário</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink = "/pegar-todos-depart">Lista de Departamentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink = "/inserir-depart">Criar um Registro de Departamento</a>
          </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
