<div class="container">
    <nav class="navbar bg-white float-end">
      <form class="container-fluid justify-content-start">
        <button class="btn btn-sm btn-primary" type="button" routerLink = "/inserir-depart">Adicionar Departamento</button>
      </form>
    </nav>
</div>

<div class="p-4 invisible"></div>

<div class="container"><!--Div Principal-->
    <div class="col-md-12"><!--Div Para Exibir os dados - se existirem-->
        <div *ngIf="listaDepartamento != 0; else noData"><!--Div utilizada para a diretiva estrutural *ngIf-->
            <h3>{{ titleComp }}</h3>

            <div class="input-group mb-3">
                <input type="number" class="form-control" placeholder="Filtrar por id"  [(ngModel)] = "idDep">
                <button type="button" class="btn btn-light me-2" routerLink="/pegar-um-depart/{{idDep}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>

                <input type="text" class="form-control" placeholder="Filtrar por nome"  [(ngModel)] = "nomeDep">
                <button type="button" class="btn btn-light" routerLink="/pegar-um-depart-nome/{{nomeDep}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">IdDepartamento</th>
                        <th scope="col">Nome do Departamento</th>
                        <th scope="col">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let itens of listaDepartamento"><!--Aqui será aplicada a diretiva estrutural *ngFor-->
                        <td>{{itens.id}}</td>
                        <td>{{itens.nome_Departamento}}</td>
                        <button class="btn btn-outline-primary btn-sm mx-2" routerLink="/atualizar-depart/{{ itens.id }}">Editar</button>
                        <button class="btn btn-outline-secondary btn-sm me-2" routerLink="/pegar-um-depart/{{ itens.id }}">Exibir</button>
                        <button class="btn btn-outline-danger btn-sm" (click)="delRegistroDepartamento(itens.id)">Excluir</button>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <ng-template #noData><!--Template/View que será exibida - se os dados não existirem-->
        <div class="text-center">
            <p>
                Registros não encontrados! Por Favor, cadastre
            </p>
            <button class="btn btn-outline-primary" routerLink="/inserir-depart">Criar Registro</button>
        </div>
    </ng-template>
</div>
